* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
    margin-left:auto;
    margin-right:auto;
}
html {
  scroll-behavior: smooth;
}
.logo {
  height: 4rem;
  width: 3.5rem;
  margin-top: 0.15rem;
  margin-left: 0.15rem;
}
@keyframes fadeout {
  from {
    color: black;
  }
  to {
    color: #c5c1b1;
  }
}

@keyframes text-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

@keyframes down {
  from {
    transform: translate(0px, -20px);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadein-slide {
  from {
    opacity: 0%;
    transform: translate(0px, -20px);
  }
  to {
    opacity: 100%;
    transform: translate(0px, 0px);
  }
}
@keyframes up-t {
  from {
    transform: translate(0px, 20px);
  }
  to {
    transform: translate(0px, 0px);
  }
}

@keyframes up {
  from {
    transform: translate(0px, 1000px);
  }
  to {
    transform: translate(0px, 0px);
  }
}

a:hover {
  animation: fadeout 1s forwards;
  cursor: url(resources/hand.cur), auto;
}
a:link,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}
nav {
  display: flex;
  width: 35%;
  justify-content: space-around;
  align-items: center;
}
nav a {
  font-family: "Bebas Neue", san-serif;
  font-weight: 400;
  font-size: 1.4rem;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}
.first-section {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("resources/handtohand.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  margin-top: 1rem;
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-section {
  padding: 2rem;
  height: 42rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-sec {
  font-weight: 600;
  animation: fadein 2.5s forwards;
  letter-spacing: 0.25rem;
  font-size: 3.2rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Anton";
  font-weight: 700;
  -webkit-text-stroke: 0.1px black;
  color: white;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
.hero-sec .first-text-sec {
  animation: down 2s forwards;
}
.hero-sec .second-text-sec {
  animation: up-t 2s forwards;
}
.quote-box {
    margin-left:auto;
    margin-right:auto;
  padding: 1.56rem 3.75rem 3.75rem 3.75rem;
  background-color: white;
  width: 880px;
  height: 512px;

  transform: perspective(70em) rotateX(22deg);
  box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
  border-radius: 10px;
}
.img-for-video {
  width: 20rem;
  height: 10rem;
  box-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
.text-in-quote-box {
  font-family: "Archivo", sans-serif;
}
.text-in-quote-box h1 {
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
  font-weight: bold;
  color: white;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.text-in-quote-box p {
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.5px;
}
.line-down {
  background-color: white;
  height: 10rem;
  width: 0.5rem;

  box-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
.testimonal {
  height: 10rem;
  width: 24rem;
  display: flex;
  justify-content: space-between;
}
.content-in-quote {
  display: flex;
  justify-content: space-between;
}
.testimonal img {
  margin-top: 15px;
  height: 100%;
  border-radius: 20%;
  box-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
.text-in-testimonal {
  height: 100%;
  width: 65%;
  right: 10px;
  position: relative;
}
.text-in-testimonal h1 {
  position: absolute;
  left: 30px;
  top: 30px;
  color: #36454f;
}
.text-in-testimonal p {
  position: absolute;
  bottom: -10px;
  font-size: 0.8rem;
  right: -10px;
  color: #a9a9a9;
}
.line-x {
  background-color: gray;
  width: 350px;
  height: 5px;
  margin-right: 20px;
  margin-top: 10px;
}
.g-line-p {
  display: flex;
}

.Third-sec-c {
  position: relative;
  padding: 0rem 2rem 2rem 2rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Third-sec-c h1 {
  margin-bottom: 1rem;
}

.g-my-skill {
  display: flex;
  justify-content: space-between;
  width: 70rem;
  background-color: white;
}
:root {
  --parent-stroke: solid 1px black;
  --parent-box-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191,
    1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191,
    1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191,
    1px 9px 1px #919191, 1px 10px 1px #919191,
    1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
  --parent-border-radius: 50%;
}
.g-my-skill .p,
.g-my-skill .c,
.g-my-skill .h,
.g-my-skill .cs,
.g-my-skill .j,
.g-my-skill .d {
  -webkit-text-stroke: var(--parent-stroke);
  box-shadow: var(--parent-box-shadow);
  height: 8rem;
  width: 8rem;
  border-radius: var(--parent-border-radius);
}

.g-my-skill .p .p-img,
.g-my-skill .c .c-img,
.g-my-skill .h .h-img,
.g-my-skill .cs .cs-img,
.g-my-skill .j .j-img,
.g-my-skill .d .d-img {
  height: 100%;
  width: 100%;
  padding: 30px;
}

.Third-sec-c h1 {
  margin-left: 5rem;
  align-self: start;
  color: white;

  font-size: 5rem;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
  font-family: "Anton";
}
.move-line-x {
  align-self: start;
  margin-left: 5rem;
  margin-bottom: 5rem;
  background-color: #d3d3d3;
}
.cat-gif {
  align-self: end;
  height: 10rem;
  position: relative;
  top: 9.5rem;
  right: 5rem;
}
.block-hidden {
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 30rem;
  height: 15rem;
  background-color: white;
  position: absolute;
  top: 3rem;
  left: 32rem;
  box-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
.block-hidden img {
  margin-left: 2rem;
  width: 7rem;
  height: 8rem;
}
.python {
  visibility: hidden;
}
.python h1 {
  margin-left: 3rem;
}
.python img {
  margin-left: 3rem;
}
.c-language {
  visibility: hidden;
}
.c-language h1 {
  font-size: 3.2rem;
  margin-left: 3rem;
}
.c-language img {
  margin-left: 3rem;
}
.html {
  visibility: hidden;
}
.html img {
  margin-left: 4rem;
}
.css {
  visibility: hidden;
}
.css img {
  margin-left: 4rem;
}

.js {
  visibility: hidden;
}

.js img {
  margin-left: 3rem;
}

.js h1 {
  font-size: 3.5rem;
  margin-left: 3rem;
}

.dart {
  visibility: hidden;
}

.dart img {
  margin-left: 5rem;
}

.dart h1 {
  margin-left: 3.5rem;
}

.p:hover .python {
  visibility: visible;
  animation: fadein-slide 1.5s forwards;
}
.p:hover .p-img {
  animation: text-zoom 1s forwards;
}

.c:hover .c-language {
  visibility: visible;
  animation: fadein-slide 1.5s forwards;
}
.c:hover .c-img {
  animation: text-zoom 1s forwards;
}

.h:hover .html {
  visibility: visible;
  animation: fadein-slide 1.5s forwards;
}
.h:hover .h-img {
  animation: text-zoom 1s forwards;
}

.cs:hover .css {
  visibility: visible;
  animation: fadein-slide 1.5s forwards;
}
.cs:hover .cs-img {
  animation: text-zoom 1s forwards;
}

.j:hover .js {
  visibility: visible;
  animation: fadein-slide 1.5s forwards;
}
.j:hover .j-img {
  animation: text-zoom 1s forwards;
}

.d:hover .dart {
  visibility: visible;
  animation: fadein-slide 1.5s forwards;
}
.d:hover .d-img {
  animation: text-zoom 1s forwards;
}
.first-section-journey {
  /* background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("resources/handtohand.png"); */
  background-size: cover;
  padding: 3rem 3rem 1rem 3rem;
  height: 34.15rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5rem 1fr;
  overflow: hidden;
}

.first-text-sec-journey {
  grid-column: 1 / 5;
  grid-row: 1;
  letter-spacing: 0.25rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Anton";
  font-weight: 700;
  -webkit-text-stroke: 0.1px black;
  color: white;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
.box-journey-first {
  height: 50%;
  width: 90%;
  align-self: self-end;
  grid-column: 1/2;
  grid-row: 2/3;
  border-radius: 3%;
  box-shadow: 1px 1px 0.5px #919191, 1px 2px 0.5px #919191,
    1px 3px 0.5px #919191, 1px 4px 0.5px #919191, 1px 5px 0.5px #919191,
    1px 6px 0.5px #919191, 1px 7px 0.5px #919191, 1px 8px 0.5px #919191,
    1px 9px 0.5px #919191, 1px 10px 0.5px #919191,
    1px 12px 2px rgba(16, 16, 16, 0.2), 1px 15px 5px rgba(16, 16, 16, 0.1),
    1px 18px 12px rgba(16, 16, 16, 0.1), 1px 20px 20px rgba(16, 16, 16, 0.2);
}
.box-journey-second {
  height: 60%;
  width: 90%;
  align-self: self-end;
  grid-column: 2/3;
  grid-row: 2/3;
  border-radius: 3%;
  box-shadow: 1px 1px 0.5px #919191, 1px 2px 0.5px #919191,
    1px 3px 0.5px #919191, 1px 4px 0.5px #919191, 1px 5px 0.5px #919191,
    1px 6px 0.5px #919191, 1px 7px 0.5px #919191, 1px 8px 0.5px #919191,
    1px 9px 0.5px #919191, 1px 10px 0.5px #919191,
    1px 12px 2px rgba(16, 16, 16, 0.2), 1px 15px 5px rgba(16, 16, 16, 0.1),
    1px 18px 12px rgba(16, 16, 16, 0.1), 1px 20px 20px rgba(16, 16, 16, 0.2);
}
.box-journey-third {
  height: 75%;
  width: 90%;
  align-self: self-end;
  grid-column: 3/4;
  grid-row: 2/3;
  border-radius: 3%;
  box-shadow: 1px 1px 0.5px #919191, 1px 2px 0.5px #919191,
    1px 3px 0.5px #919191, 1px 4px 0.5px #919191, 1px 5px 0.5px #919191,
    1px 6px 0.5px #919191, 1px 7px 0.5px #919191, 1px 8px 0.5px #919191,
    1px 9px 0.5px #919191, 1px 10px 0.5px #919191,
    1px 12px 2px rgba(16, 16, 16, 0.2), 1px 15px 5px rgba(16, 16, 16, 0.1),
    1px 18px 12px rgba(16, 16, 16, 0.1), 1px 20px 20px rgba(16, 16, 16, 0.2);
}
.box-journey-four {
  position: relative;
  height: 100%;
  width: 90%;
  align-self: self-end;
  grid-column: 4/5;
  grid-row: 2/3;
  border-radius: 3%;
  box-shadow: 1px 1px 0.5px #919191, 1px 2px 0.5px #919191,
    1px 3px 0.5px #919191, 1px 4px 0.5px #919191, 1px 5px 0.5px #919191,
    1px 6px 0.5px #919191, 1px 7px 0.5px #919191, 1px 8px 0.5px #919191,
    1px 9px 0.5px #919191, 1px 10px 0.5px #919191,
    1px 12px 2px rgba(16, 16, 16, 0.2), 1px 15px 5px rgba(16, 16, 16, 0.1),
    1px 18px 12px rgba(16, 16, 16, 0.1), 1px 20px 20px rgba(16, 16, 16, 0.2);
}
.first-text-sec-journey-in-box,
.second-text-sec-journey-in-box,
.third-text-sec-journey-in-box,
.four-text-sec-journey-in-box {
  margin-top: 0.9rem;
  margin-left: 0.9rem;
  letter-spacing: 0.15rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Anton";
  font-weight: 500;
  -webkit-text-stroke: 0.1px black;
  color: white;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
.ben_cat {
  animation: down 0.5s forwards;
  margin-top: 2rem;
  margin-left: 3rem;

  align-self: self-start;
  grid-column: 1/2;
  grid-row: 2/3;
  height: 45%;
  width: 40%;
}

.tofi {
  position: absolute;
  top: 0rem;
  right: 4rem;
}

.box-journey-first {
  position: relative;
}

.box-journey-first ul {
  list-style-type: "-  ";
  position: absolute;
  left: 2.2rem;
  top: 5.5rem;
}
.box-journey-first ul li {
  font-family: "Archivo", sans-serif;
  font-size: 0.9rem;
  color: gray;
  line-height: 2rem;
}

.box-journey-first {
  position: relative;
  animation: up 1s forwards;
}

.box-journey-first ul {
  list-style-type: "-  ";
  position: absolute;
  left: 2.2rem;
  top: 5.5rem;
}
.box-journey-first ul li {
  font-family: "Archivo", sans-serif;
  font-size: 0.9rem;
  color: gray;
  line-height: 2rem;
}

.box-journey-second {
  position: relative;
  animation: up 1.5s forwards;
}

.box-journey-second ul {
  list-style-type: "-  ";
  position: absolute;
  left: 2.2rem;
  top: 5.5rem;
}
.box-journey-second ul li {
  font-family: "Archivo", sans-serif;
  font-size: 0.9rem;
  color: gray;
  line-height: 2rem;
}

.box-journey-third {
  position: relative;
  animation: up 2s forwards;
}

.box-journey-third ul {
  list-style-type: "-  ";
  position: absolute;
  left: 2.2rem;
  top: 5.5rem;
}
.box-journey-third ul li {
  font-family: "Archivo", sans-serif;
  font-size: 0.9rem;
  color: gray;
  line-height: 2rem;
}

.box-journey-four {
  position: relative;
  animation: up 2.5s forwards;
}

.box-journey-four ul {
  list-style-type: "-  ";
  position: absolute;
  left: 2.2rem;
  bottom: 2rem;
}
.box-journey-four ul li {
  font-family: "Archivo", sans-serif;
  font-size: 0.9rem;
  color: gray;
  line-height: 2rem;
}

.first-section-future {
  /* background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("resources/handtohand.png"); */
  background-size: cover;
  padding: 3rem 3rem 1rem 3rem;
  height: 34.15rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5rem 1fr;
  overflow: hidden;
}

.first-text-sec-future {
  letter-spacing: 0.25rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Anton";
  font-weight: 700;
  -webkit-text-stroke: 0.1px black;
  color: white;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

.box-future-first {
  margin-top: 3rem;
  margin-left: 7rem;
  width: 80%;
  height: 20rem;
  transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
  filter: blur(2px);
  opacity: 0.5;
  transition: 0.6s ease all;
  border-radius: 3%;
  box-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
  display: flex;

  &:hover {
    transform: perspective(800px) rotateY(-15deg) translateY(-50px)
      rotateX(10deg) scale(1);
    filter: blur(0);
    opacity: 1;
  }
}
.myfuture_ben {
  padding: 1rem;
  width: 45%;
  height: 100%;
}
.text-in-sec-furture {
  padding: 3rem;
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  color: rgb(73, 72, 72);
  line-height: 2rem;
  position: relative;
}
.text-in-sec-furture p:first-child {
  font-weight: bold;
}

.text-in-sec-furture p:last-child {
  margin-top: 2rem;
  font-size: 1rem;
  color: rgb(158, 158, 158);
  position: absolute;
  right: 3rem;
}
@media screen and (max-width:1320px){
    .p:hover .python,.c:hover .c-language,.h:hover .html,.cs:hover .css,.j:hover .js,.d:hover .dart {
  visibility: hidden;
}

}
@media screen and (max-width:1123px){
    .g-my-skill{
        display:grid;
        grid-template-columns:0.5fr 0.5fr;
        grid-template-rows:1fr 1fr 1fr;
        grid-gap:3rem;
        align-items:center;
        justify-items:center;
    }
    .Third-sec-c{
        overflow:hidden;
        margin-bottom:0;
    }
    .p:hover .python,.c:hover .c-language,.h:hover .html,.cs:hover .css,.j:hover .js,.d:hover .dart {
  visibility: hidden;
}
}
@media screen and (max-width:1000px){

    nav{
        flex-direction:column;
        justify-content:space-between;
        align-items:flex-end;
        height:150px;
    }
    .quote-box{
        width:600px;
        height:850px;
    }
    .second-section{
        height:70rem;
    }
    header{
        padding:1rem 2rem;
    }
    .content-in-quote{
        flex-direction:column;
        justify-content:space-between;
        align-items:center;
        height:400px
    }
    .g-my-skill{
        width:50rem;
    }
    .line-down{
        display:none;
    }
}

@media screen and (max-width:850px){
    .first-section{
        background-size:contain;
    }
}
@media screen and (max-width:700px){
     .quote-box{
        width:400px;
        height:1050px;
    }
    .text-in-testimonal h1{
        width:10rem;
    }
    .text-in-testimonal{
        display:flex;
        flex-direction:column;
        height:180px; 
    }
    .testimonal{
        padding:20px
    }
    .g-my-skill{
        width:40rem;
    }
    .cat-gif{
        width:10rem;
        height:8rem;
    }
    .line-x{
        width:15rem;
    
    }
}
@media screen and (max-width:600px){
 .cat-gif{
        visibility:hidden;
    }
 .g-my-skill{                                                                
     width:30rem;                                                            
  }
  .quote-box{
      width:300px;
      padding:30px;
  }
  .img-for-video{
      width:10rem;
      height:6rem;
  }
  .testimonal{
      width:15rem;
      flex-direction:column;
      height:2rem;
  }
  .content-in-quote{
      height:350px;
  }
  .testimonal img{
      display:none;
  }
}
@media screen and (max-width:450px){
    .g-my-skill{
        width:18rem;
    }
}
@media screen and (max-width:370px){
    .quote-box{
        width:280px;
        height:1150px;
    }
    .text-in-quote-box h1{
        font-size:2.5rem;

    }
    .line-x{
        width:10rem;
    }
}
